
body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
  margin-right: 20px;
}

header .logo {
  display: inline-block;
  padding-left: 30px;
  color: MediumAquamarine;
}

header nav {
  text-align: right;
  width: 95%
}

header span {
  display: inline-block;
  align-items: center;
  padding: 20px 10px;
}

a {
  color: black;
}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
   width: 630px;
}

.column.medium {
  width:300px;
}

.column.small {
  width: 240px;
}

.main-story .image-content {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
  width: 630px;
  margin-top: 0;
  text-align: left;
}

.main-story .image-content span {
  margin-left: 20px;
}

.earth.image-content {
  background-image: url("../images/img-story-2.png");
}

.cameras.image-content {
  background-image: url("../images/img-story-3.png");
}

.cats.image-content {
  background-image: url("../images/img-story-1.png");
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.narrative {
  margin-top: 16px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.stories .text-content {
  height: 250px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.bites .bite {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: black solid 1px;
  padding: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height: 325px;
  margin-top: 80px;
}

footer .title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

footer .nav{
  display: inline-block;
  padding-left: 25px;
}
